body {
    background: rgb(5,2,71);
background: linear-gradient(34deg, rgba(5,2,71,1) 46%, rgba(126,10,10,1) 71%, rgba(191,155,155,1) 100%);
    color: white;
}


.readmore {
    color: inherit;
}

.gw {
    color: white;
    text-decoration: none;
}

.gwg {
    color: gray;
    text-decoration: none;
}
